<div class="min-h-full">
    <nav class="bg-green-400 mb-2 rounded-b-lg">
        <div class="mx-auto max-w-9xl px-4 py-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="shrink">
                        <a href="#">
                            <img class="h-20 w-20" src="../../src/images/icons/icon-144x144.png"
                                alt="Virtual store"></a>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="#"
                                class="bg-green-500 text-white rounded-md px-3 py-2 text-sm font-medium active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2">Store</a>
                            <a href="#"
                                class="text-green-700 hover:bg-green-500 hover:text-white rounded-md px-3 py-2 text-sm font-medium active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2">Categories</a>
                            <a href="#"
                                class="text-green-700 hover:bg-green-500 hover:text-white rounded-md px-3 py-2 text-sm font-medium active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2">Watchlist</a>
                        </div>
                    </div>
                </div>
                <div class="hidden md:block">
                    <div class="ml-4 flex items-center md:ml-6">
                        <button
                            class=" nav_to_cart relative ml-auto rounded-full bg-green-700 p-1 text-green-50 mr-2 hover:bg-green-300 active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2">
                            <span></span>
                            <span class="sr-only">Go to cart</span>
                            <svg baseProfile="tiny" height="24px" version="1.2" viewBox="0 0 24 24" width="24px"
                                xml:space="preserve" fill="currentColor">
                                <g id="Layer_1">
                                    <g>
                                        <path
                                            d="M20.756,5.345C20.565,5.126,20.29,5,20,5H6.181L5.986,3.836C5.906,3.354,5.489,3,5,3H2.75c-0.553,0-1,0.447-1,1s0.447,1,1,1h1.403l1.86,11.164c0.008,0.045,0.031,0.082,0.045,0.124c0.016,0.053,0.029,0.103,0.054,0.151c0.032,0.066,0.075,0.122,0.12,0.179c0.031,0.039,0.059,0.078,0.095,0.112c0.058,0.054,0.125,0.092,0.193,0.13c0.038,0.021,0.071,0.049,0.112,0.065C6.748,16.972,6.87,17,6.999,17C7,17,18,17,18,17c0.553,0,1-0.447,1-1s-0.447-1-1-1H7.847l-0.166-1H19c0.498,0,0.92-0.366,0.99-0.858l1-7C21.031,5.854,20.945,5.563,20.756,5.345z M18.847,7l-0.285,2H15V7H18.847z M14,7v2h-3V7H14z M14,10v2h-3v-2H14z M10,7v2H7C6.947,9,6.899,9.015,6.852,9.03L6.514,7H10z M7.014,10H10v2H7.347L7.014,10z M15,12v-2h3.418l-0.285,2H15z" />
                                        <circle cx="8.5" cy="19.5" r="1.5" />
                                        <circle cx="17.5" cy="19.5" r="1.5" />
                                    </g>
                                </g>
                            </svg>
                        </button>
                        <button id="push_btn" type="button"
                            class="relative ml-auto rounded-full bg-green-700 p-1 text-green-50 hover:bg-green-300 active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2">
                            <span class="absolute -inset-1.5"></span>
                            <span class="sr-only">View notifications</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentcolor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                            </svg>
                        </button>
                        <!-- Profile dropdown -->
                        <div class="relative ml-2">
                            <div>
                                <button id="user_btn" type="button"
                                    class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2"
                                    id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                    <span class="absolute -inset-1.5"></span>
                                    <span class="sr-only">Open user menu</span>
                                    <img class="h-8 w-8 rounded-full"
                                        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                        alt="">
                                </button>
                            </div>
                            <!-- Dropdown menu, show/hide based on menu state.
                            Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                            Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                            -->
                            <div id="user_menu_ctn"class="absolute right-0 top-0 z-10 mt-11 w-48 h-20 origin-top-rigth" >
                                <div id="user_menu" class="absolute right-0 top-0 z-10 w-48 origin-top-rigth rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transition ease-out duration-10 transform opacity-0 scale-95"
                                    role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button"
                                    tabindex="-1">
                                    <!-- Active: "bg-gray-100", Not Active: "" -->
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                                        id="user-menu-item-1">Settings</a>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                                        id="user-menu-item-2">Sign out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="nav_to_cart relative ml-auto rounded-full bg-green-700 p-1 text-green-50 mr-2 hover:bg-green-300 active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2 md:hidden">
                    <span></span>
                    <span class="sr-only">Go to cart</span>
                    <svg baseProfile="tiny" height="24px" version="1.2" viewBox="0 0 24 24" width="24px"
                        xml:space="preserve" fill="currentColor" class="h-6 w-6">
                        <g id="Layer_1">
                            <g>
                                <path
                                    d="M20.756,5.345C20.565,5.126,20.29,5,20,5H6.181L5.986,3.836C5.906,3.354,5.489,3,5,3H2.75c-0.553,0-1,0.447-1,1s0.447,1,1,1h1.403l1.86,11.164c0.008,0.045,0.031,0.082,0.045,0.124c0.016,0.053,0.029,0.103,0.054,0.151c0.032,0.066,0.075,0.122,0.12,0.179c0.031,0.039,0.059,0.078,0.095,0.112c0.058,0.054,0.125,0.092,0.193,0.13c0.038,0.021,0.071,0.049,0.112,0.065C6.748,16.972,6.87,17,6.999,17C7,17,18,17,18,17c0.553,0,1-0.447,1-1s-0.447-1-1-1H7.847l-0.166-1H19c0.498,0,0.92-0.366,0.99-0.858l1-7C21.031,5.854,20.945,5.563,20.756,5.345z M18.847,7l-0.285,2H15V7H18.847z M14,7v2h-3V7H14z M14,10v2h-3v-2H14z M10,7v2H7C6.947,9,6.899,9.015,6.852,9.03L6.514,7H10z M7.014,10H10v2H7.347L7.014,10z M15,12v-2h3.418l-0.285,2H15z" />
                                <circle cx="8.5" cy="19.5" r="1.5" />
                                <circle cx="17.5" cy="19.5" r="1.5" />
                            </g>
                        </g>
                    </svg>
                </button>
                <div class="-mr-2 flex md:hidden">
                    <!-- Mobile menu button -->
                    <button id="mobile-btn" type="button"
                        class="relative inline-flex items-center justify-center rounded-md bg-green-700 p-2 text-white hover:bg-green-300 hover:text-white active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2"
                        aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <!-- Menu open: "hidden", Menu closed: "block" -->
                        <svg id="mob-btn-op" class="block h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <!-- Menu open: "block", Menu closed: "hidden" -->
                        <svg id="mob-btn-cl" class="hidden h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                
            </div>
        </div>
        <!-- Mobile menu, show/hide based on menu state. -->
        <div id="menu-extend" class="hidden md:hidden" id="mobile-menu">
            <div class="flex flex-col border-b border-green-700 mb-0.5 space-y-1 px-6 pb-3 pt-2 sm:px-3">
                <a href="#"
                    class="bg-green-500 text-green-50 rounded-md px-3 py-2 font-medium active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2">Store</a>
                <a href="#"
                    class="text-green-700 hover:bg-green-500 hover:text-green-50 rounded-md px-3 py-2  font-medium active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2">Categories</a>
                <a href="#"
                    class="text-green-700 hover:bg-green-500 hover:text-green-50 rounded-md px-3 py-2  font-medium active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2">Watchlist</a>
            </div>
            <div class="pb-3 pt-4">
                <div class="flex justify-end items-center px-5 pb-4">
                    <p class="text-green-50 py-2 px-4 rounded">Turn push notifications on</p>
                    <button id="push_btn" type="button"
                        class="relative ml-auto rounded-full bg-green-700 p-1 text-green-50 hover:bg-green-300 active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2">
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">View notifications</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentcolor"
                            aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                        </svg>
                    </button>
                </div>
                <div class="flex items-center px-5">
                    <div class="flex-shrink-0">
                        <img class="h-10 w-10 rounded-full"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                            alt="">
                    </div>
                    <div class="ml-3">
                        <div class="text-green-50 font-medium leading-none ">Tom Cook</div>
                        <div class="text-sm font-medium leading-none text-green-200">tom@example.com</div>
                    </div>
                </div>
                <div class="mt-3 space-y-1 px-6">
                    <a href="#"
                        class="block rounded-md px-3 py-2 text-green-700 font-medium hover:bg-green-500 hover:text-green-50">Settings</a>
                    <a href="#"
                        class="block rounded-md px-3 py-2 text-green-700 font-medium hover:bg-green-500 hover:text-green-50">Sign
                        out</a>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="mx-auto max-w-7xl mb-2 sm:px-6 lg:px-8">
            <!-- Your content -->
            <header class="bg-white shadow rounded mx-auto max-w-7xl p-4 mb-2 sm:px-6 lg:px-8">
                <h1 class="text-2xl font-bold text-green-800 dark:text-green-200">VIRTUAL STORE</h1>
                <p class="text-xl font-normal text-green-700 dark:text-green-300">Welcome!!!</p>
            </header>
            <section class="flex justify-center">
                <form id="search"
                    class="w-full max-w-xs lg:flex lg:justify-around lg:items-center lg:max-w-7xl bg-white dark:bg-green-800 shadow-md dark:shadow-green-500 rounded px-8 pt-6 pb-8 mb-4"
                    action="">
                    <p class="text-green-700 dark:text-green-200">Search:</p>
                    <label class="block text-green-800 dark:text-green-100 text-sm font-bold mb-2 lg:m-0 lg:max-w-56" for="search_name">By
                        name:</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight lg:max-w-56 focus:outline-none focus:shadow-outline mb-4 lg:m-0"
                        id="search_name" type="text">
                    <label class="text-green-800 dark:text-green-100 text-sm font-bold mb-2 lg:m-0 lg:max-w-56" for="search_order">Order:</label>
                    <select id="search_order"
                        class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 lg:max-w-48 rounded shadow leading-tight focus:outline-none focus:shadow-outline mb-4 lg:m-0"
                        name="price">
                        <option value="nada">-</option>
                        <option value="higherPrice">Higher Price</option>
                        <option value="lowerPrice">Lower Price</option>
                    </select>
                    <button id="search_submit"
                        class="bg-green-700 dark:bg-green-300 hover:bg-green-400 text-white dark:text-green-500 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline active:outline-none active:ring-2 active:ring-green-500 active:ring-offset-2">Search</button>
                </form>
            </section>
            <section>
                <div
                    class="w-full max-w-xs sm:max-w-xl lg:max-w-5xl xl:max-w-7xl bg-white dark:bg-green-800 shadow-md dark:shadow-green-500  rounded px-2 mb-4">
                    <div class="mx-auto max-w-2xl px-4 py-4 sm:px-6 sm:pt-2 lg:max-w-7xl lg:px-8">
                        <h2 class="text-2xl text-green-800 dark:text-green-200 font-bold tracking-tight ">Product list
                        </h2>
                        <div
                            class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8 article-list">
                            {{#each items}}
                            <div data-id="{{this.id}}" class="group relative article">
                                <div class="py-2 dark:bg-green-700 shadow-md dark:shadow-green-500 rounded px-2">
                                    <div
                                        class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                                        <img src="{{this.urlImagen}}" alt="Front of men&#039;s Basic Tee in black."
                                            class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                                    </div>
                                    <div class="mt-2 mb-4 flex justify-between py-1">
                                        <div>
                                            <h3 class="text-sm text-green-800 dark:text-green-100">
                                                <a href="#">
                                                    <span aria-hidden="true" class="absolute inset-0"></span>
                                                    {{this.nombre}}
                                                </a>
                                            </h3>
                                            <p class="mt-1 text-sm text-green-700 dark:text-green-100">
                                                {{this.descripcion}}</p>
                                        </div>
                                        <p class="text-sm font-bold text-green-800 dark:text-green-300">${{this.precio}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>